<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dracula.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="menu_esquerdo.css">
    <link rel="stylesheet" href="menu_direito.css">
    <link rel="stylesheet" href="editor.css">

    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>

        <!-- Header -->

        <div class="container__header">
            <a href="#">
                <img class="logo" src="logo.png">  
                <input type="search" name="pesquisa" class="mobile__inputPesquisa"
				placeholder="Busque por algo"> 
            </a>
			<input type="search" name="pesquisa" class="cabecalho__pesquisa_campo"
				placeholder="Busque por algo">

            <div class="mobile__pesquisa">
                <img src="busca.svg" alt="" id="search__mobile">
            </div>

            <div class="usuario">
                <a href="">
                    <img src="foto.png" alt="Foto usuario" class="foto-usuario">
                    <p class="nome-usuario">Harry</p>
                </a>
            </div>
            <button class="mobile__menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </button>
        </div>
    </header>

    <main class="main">

        <!-- Menu esquerdo -->

        <nav class="navegacao">
            <h2 class="navegacao_titulo">Menu</h2>
            <ul class="navegacao_menu">
                <a href="/" class="navegacao_item">
                    <img class="logo__menuEsquerdo" src="editor.svg">
                    <li class="navegacao_editor-de-codigo"><p>Editor de Codigo</p></li>
                </a>
                <a href="/comunidade" class="navegacao_item">
                    <img class="logo__menuEsquerdo" src="comunidade.svg">   
                    <li class="navegacao-comunidade"><p>Comunidade</p></li>
                </a>
            </ul>
        </nav>

        <!-- Editor -->
        <div class="container__texto">
            <div class="cor__fundo" name="corFundo" >
                <div id="editor" name="editor">
                    <img src="mac_buttons.png" alt=""><br>
                    <code class="code hljs " contenteditable="true" name="code" id="code">function () { }</code>
                </div>
            </div>
            <button class="btn__editor btn__highlight">Visualizar com highlight</button>
            
            <div id="containerTexto__segundo">
                <button class="btn__export" class="a">Exportar</button>
                <select name="image" class="select__editor">
                    <option value="png">PNG</option>
                    <option value="jpeg">JPEG</option>
                    <option value="svg">SVG</option>
                </select>
                <div class="result"></div>
            </div>
        </div>

        <!-- Menu Direito -->

        <div class="menu__direito">
            <form >
                <h2 class="titulo__menuDireito">Seu projeto</h2>
                <div>
                    <input type="text" placeholder="Nome do seu projeto" id="input__titulo">
                    <input type="text" placeholder="Descrição do seu projeto" id="input__descricao">
                </div>
                
                <div class="menuDireito__personalizacao">
                    <h2 class="titulo__menuDireito">Personalização</h2> 
                    <select name="linguagem" class="linguagem">
                        <option value="javascript">Javascript</option>
                        <option value="css">CSS</option>
                        <option value="html">HTML</option>

                    </select>
                    <input type="color" value="#6BD1FF" name="" id="menuDireito__pegarCor">
                </div>

                <button class="btn__salvaProjeto">Salvar projeto</button>
            </form>
        </div>
    </main>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
    <script src="index.js"></script>
    <script src="salvarProjeto.js"></script>
    <script src="exportAsImage.js"></script>
    <script src="html2canvas.js"></script>
    <script src="mobileResponsive.js"></script>
</body>
</html>